$light-blue: #54b8eb;
$standard-blue: #007dc3;
$dark-blue: #0169a4;
$navy-blue: #072a62;
$warning-red: #aa3434;
$light-red: #ff6a6a99;
$dark-orange: #b34918;
$orange: #ff6426;
$light-orange: #e68851;
$success-green: #2ca52c;
$dark-brown: #464646;
$dark-gray: #666666;
$gray: #b7b7b7;
$light-gray: #f6f6f5;

$help_text_size: 12px;
$standard_text_size: 16px;

%unit-spacing {
    padding: 10px;
    margin: 5px;
}

%info-unit-color {
    background-color: $navy-blue;
}

%content-unit-color {
    background-color: $navy-blue;
    color: $light-gray;
}

%bordered-info-content {
    border: $dark-brown solid 2px;
    border-radius: 20% 7.5%;
}

.navbar-bg {
    background-color: $dark-blue;
}

section.user-info {
    @extend %content-unit-color;
    @extend %bordered-info-content;
    padding: 1.25em 1em 1.25em 1.25em;
    margin: 1em -1em 0 0;
    dt {
        font-weight: bolder;
        text-decoration: underline;
        color: $light-blue;
    }
    dd {
        text-indent: 1em;
        a {
            color: $light-blue;
        }:hover{
            color: $light-orange;
        }
    }
}

div.view_title {
    @extend %info-unit-color;
    @extend %unit-spacing;
}

div.messages {
    @extend %info-unit-color;
    @extend %unit-spacing;
    p.success {
        background-color: $success-green;
    }
}

form {
    @extend %unit-spacing;
    @extend %content-unit-color;
    ul.errorlist {
        border: $warning-red solid 2px;
        border-radius: 10px;
        background-color: $light-red;
        li {
            color: $dark-brown;
        }
    }
    p {
        span {
            font-size: $help_text_size;
            font-style: italic;
            color: $gray;
        }
    }
    input[type='submit'] {
        background-color: $dark-blue;
    }
}

%icon_style {
    fill: $navy-blue;
}
svg.bi {
    @extend %icon_style;
}
div.menuItem svg.bi:hover {
        fill: $light-blue;
}
