:root {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #E1E1FF;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.navlink-container, main.container-guesthome-main {
  display: flex;
}

main.container-guesthome-main {
  flex-direction: column;
}

a.logo-link {
  display: block;
  font-size: 2em;
  font-weight: 800;
  text-shadow: 2px 2px 2px #00000044;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #00000087;
}

.slogan {
  font-size: 3em;
  font-weight: 600;
}

a.navigation-button-link-active, a.navigation-button-link, a.navigation-link-active, a.navigation-link {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  align-self: center;
}

.standard-button-purple, .standard-button {
  padding: 10px;
  border: 1px solid #00000087;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  color: #E1E1FF;
  box-shadow: 2px 2px 2px #00000044;
  border-radius: 15px;
  align-self: center;
}

form, div.messages, div.view_title {
  padding: 10px;
  margin: 5px;
}

div.messages, div.view_title {
  background-color: #072a62;
}

form, section.user-info {
  background-color: #072a62;
  color: #f6f6f5;
}

section.user-info {
  border: #00000087 solid 2px;
}

/* Navbar-related definitions */
a.logo-link {
  color: #4020ff;
}
a.logo-link:hover {
  color: #0078FF;
}

a.navigation-link {
  color: #0078FF;
}
a.navigation-link:hover {
  color: #4020ff;
}

a.navigation-link-active {
  color: #4020ff;
}
a.navigation-link-active:hover {
  color: #0078FF;
}

a.navigation-button-link {
  color: #E1E1FF;
}

a.navigation-button-link-active {
  color: #4020ff;
}

.standard-button {
  background-color: #0078FF;
}
.standard-button:hover {
  background-color: #4020ff;
}

.standard-button-purple {
  background-color: #4020ff;
}
.standard-button-purple:hover {
  background-color: #0078FF;
}

.navlink-container {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

main.container-guesthome-main {
  justify-content: center;
  margin-top: 150px;
}

.slogan {
  margin-bottom: 1rem;
}

h2.subslogan {
  font-size: 1.5em;
  color: #00000087;
  margin-bottom: 1rem;
}

span.title-underline {
  background-image: linear-gradient(120deg, #4020ff 0%, #0078FF 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.15em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
span.title-underline:hover {
  background-size: 100% 88%;
  color: #E1E1FF;
}

section.user-info dt {
  font-weight: bolder;
  text-decoration: underline;
  color: #54b8eb;
}
section.user-info dd {
  text-indent: 1em;
}
section.user-info dd a {
  color: #54b8eb;
}
section.user-info dd :hover {
  color: #e68851;
}

div.messages p.success {
  background-color: #2ca52c;
}

form ul.errorlist {
  border: #aa3434 solid 2px;
  border-radius: 10px;
  background-color: #ff6a6a99;
}
form ul.errorlist li {
  color: #464646;
}
form p span {
  font-size: 12px;
  font-style: italic;
  color: #b7b7b7;
}
form input[type=submit] {
  background-color: #0169a4;
}

svg.bi {
  fill: #072a62;
}

div.menuItem svg.bi:hover {
  fill: #54b8eb;
}

/* MEDIA queries */
@media screen and (max-width: 899px) {
  .navlink-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #register-button > .standard-button {
    font-size: 0.8em;
  }

  a.logo-link {
    font-size: 1.5em;
  }

  a.navigation-link {
    font-size: 1em;
  }

  main.container-guesthome-main {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=master.css.map */
