{% extends 'teachscores/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block page_title_block %}
    <title>TeachAdmin - Register</title>
{% endblock page_title_block %}

{% block script_block %}
    <!-- Adding document-specific JavaScript -->
    <script src="{% static 'accounts/js/register.js' %}"></script>
{% endblock script_block %}

{% block view_title_block %}
    <div class="bg-secondary rounded-pill">
        <h1 align="center" class="display-4">
            {{ title }}
        </h1>
    </div>
{% endblock view_title_block %}

{% block content_block %}
    <div class="bg-secondary rounded">
        <form action="{% url 'accounts:register' %}" method="post" class="form">
            {% csrf_token %}
            <div class="form-group">
                {{ user_form.as_p }}
            </div>
            <div class="form-group">
                {{ teacher_form.as_p }}
            </div>
            <input type="submit" name="" value="Register" class="btn btn-primary">
        </form>
    </div>
{% endblock content_block %}