{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeachAdmin</title>
    <!-- Loading Bootstrap4 -->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <link 
        rel="stylesheet"
        type="text/css"
        href="{% static 'frontend/css/master.css' %}"/>
    <link 
        rel="apple-touch-icon" 
        sizes="180x180" 
        href="{% static '/frontend/favicons/apple-touch-icon.png' %}">
    <link 
        rel="icon" 
        type="image/png" 
        sizes="32x32" 
        href="{% static '/frontend/favicons/favicon-32x32.png' %}">
    <link 
        rel="icon" 
        type="image/png" 
        sizes="16x16" 
        href="{% static '/frontend/favicons/favicon-16x16.png' %}">
    <link 
        rel="manifest" 
        href="{% static '/frontend/favicons/site.webmanifest' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link 
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Poppins:ital,wght@0,100;0,400;0,600;0,800;0,900;1,100;1,400;1,600&display=swap" 
        rel="stylesheet">

</head>
<body class="p-1 mb-2">
    <div id="app">

    </div>
</body>
<script src="{% static 'frontend/main.js' %}"></script>
</html>