{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeachAdmin</title>
    <!-- Loading Bootstrap4 -->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <link 
    rel="stylesheet"
    type="text/css"
    href="{% static 'frontend/css/master.css' %}"/>

</head>
<body class="p-1 mb-2 bg-dark text-white">
    <div id="app">

    </div>
</body>
<script src="{% static 'frontend/main.js' %}"></script>
</html>